<!DOCTYPE html>
<title>{% block title %}{% endblock %} -cl </title>
<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
<header>
    <img src="{{ url_for('static', filename='logos/tecH.png') }}" class="logoHeader">
    {% if g.user %}
    <ul class="menuPrincipal">
        <li><a href="{{ url_for('userMenu.index') }}">Iniciar corte</a></li>
        <li><a href="{{ url_for('userMenu.noti') }}">Notificaciones</a></li>
        {% if g.user['rol']=='A' %}
        <LI><a href="{{ url_for('signin.index') }}">Alta de usuarios</a></LI>
        {% endif %}
        <li><a href="{{ url_for('login.logout')}}">Cerrar sesión</a></li>
    </ul>
    {% endif %}
</header>
<section>
    {% block content %}{% endblock %}
</section>