:root{
    --primary: #0039A6;
    --backgroud: whitesmoke;
    --linkHover: #bbc7d6;
    background-color: var(--backgroud);
    font-family: Arial, sans-serif, Georgia;
}

/* Apariencia página de inicio */
.Home{
    text-align: center;
}

.HomeImg{
    height: auto;
    width: 250px;
    margin-top: 200px;
}

.iniciar{
    background-color: var(--primary);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.btnInicio{
    background-color: var(--primary);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.2s ease;
}

.btnInicio:hover{
    color: var(--linkHover);
    font-size: large;
    padding: 15px;
} 
/* Fin */

/* header */
header{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    border: 2px solid;
    border-color: var(--primary);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logoHeader{
    display: block;
    height: auto;
    width: 125px;
    margin-top: 8px;
    margin-left: 10px;
}
/* Fin */

/* login */
.loginImg{
    text-align: center;
}

.loginInput{
    text-align: center;
}

.loginInput input{
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    padding-top: 5px;
    transition: all 0.2s ease;
}

.loginInput input:hover{
    color: var(--linkHover);
    font-size: large;
    padding: 15px;
}
/* Fin */

/* Menu principal */
.menuPrincipal{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    display: flex; 
    justify-content: flex-end;
}

.menuPrincipal li{
    margin-right: 10px;
    color: white;
}

.menuPrincipal li a{
    text-decoration: none;
    color: white;
}

.menuPrincipal a:hover{
    color: var(--linkHover);
}
/* Fin */

/* menu de usuarios principal */
.inicioCorte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioCorte a{
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.inicioCorte a:hover{
    color: var(--linkHover);
    font-size: large;
    padding: 15px;
}
/* Fin */

/* Actualizar notificaciones */
.noti{
    margin-bottom: 10px;
}

.notiHeader{
    margin-top: 5px;
    margin-bottom: 5px;
}

.notiSend input{
    padding: 10px;
    background-color: var(--primary);
    color: white;
    border: 0;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.notiSend input:hover{
    padding: 15px;
    color: var(--linkHover);
    font-size: large;
}
/* Fin */

