<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio -cl</title>
</head>
<body class="Home">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='logos/tec.png') }}" class="HomeImg">
    <div>
        <a href="{{ url_for('login.index') }}" class="btnInicio">Bienvenido al sistema de cortadoras da click para iniciar</a>
    </div>
</body>
</html>